@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@300;400;500;900&family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}
#navbar{
    background-color: white;
    height: 75px;
    position: sticky;
    top: 0px;
    left: 0px;
}
#navbar>div{
    display: inline-block;
    margin-inline:50px;
    text-decoration: none;
}
#navbar a{
    text-decoration: none;
    color: black;
    margin-inline: 10px;
}
#navbar>div>img{
    margin-right: 370px;
}
button{
    margin-inline: 5px;
    width: 120px;
    height: 40px;
    border-radius: 6px;
}
button{
    border: 2px solid #4990EF;
    color: #4990EF;
    background-color: white;
    font-weight: 700;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.g3{
    color: white;
    background-color: #724CED;
    font-weight: 600;
    width: 145px;
    font-size: 13px;
}

#accio>img{
    position: relative;
    top:10px;
    left: 10px;
    width: 180px;
}
#nav-links{
    margin-top:17px;
}
#g8{
    background-color: #0D6EFD;
    height: 40px;
    width: 100%;
    position: sticky;
    color: white;
    text-align: center;
    vertical-align: center;
    box-sizing: border-box;
    padding-top: 8px;
    font-size: 14px;
    font-weight: 550;
    top: 75px;
}
#g10{  
    position: relative;
}
#hero{
    position: absolute;
    top: 130px;
    left: 80px;
    font-weight: 600;
    font-size: 50px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
#box{
    position: absolute;
    top: 85px;
    right: 60px;
    display: inline-block;
    width: 450px;
    height: 490px;
    background-color:white;
    border-radius:15px ;
    text-align: center;
    font-size: 23px;
    padding: 30px;
    box-sizing: border-box;
    font-weight: 550;
    box-shadow: 0px 0px 30px pink ;
}
#g11{
    font-family:Arial, Helvetica, sans-serif ;
    color: #3081ED;
}
#box>span{
    color: #3081ED;
}
#box>div{
    font-size: 15px;
    box-sizing: border-box;
    padding-top: 10px;
    font-weight: 500;
    padding-bottom: 40px;
}
input{
    padding: 15.5px 14px 16.5px 0px;
    box-sizing: border-box;
    border: none;
    width: 100%;
    background-color:#f2f4f7;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}
#number{
    margin-bottom: 60px;
}
#g13{
    color: white;
    background-color: #724CED;
    font-weight: 600;
    width: 100%;
    font-size: 13px;
    height: 50px;
    border: none;
    margin-bottom: 10px;
}
#g15{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
}
#g16{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #0D6EFD;
}
#bel2{
    display: block;
    width: 750px;
    height: 75px;
    background-color: white;
    position: absolute;
    top: 380px;
    left: 80px;
    border: 1px solid cadetblue;
    border-radius: 10px;
}
#bel1{
    position: absolute;
    top: 340px;
    left: 80px;
    color: #724CED;
    font-size: 18px;

}
img{
    width: 70px;
    padding-top: 15px;
    padding-left:28px ;
    box-sizing: border-box;
}
.gopi{
    box-sizing: border-box;
    position: absolute;
    bottom: 35px;
    left: 75px;
    font-weight: 600;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.gopi1{
    box-sizing: border-box;
    position: absolute;
    bottom: 20px;
    left: 75px;
    font-weight: 200;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
#img1{
    position: absolute;
    left: 180px;
}
.a{
    left: 255px;
}
.b{
    left: 255px;
    font-size: 12px;
    font-weight: 200;
    top: 40px;
}
#img2{
    position: absolute;
    left: 350px;
}
.c{
    left: 425px;
}
.d{
    left: 425px;
    font-size: 12px;
    font-weight: 200;
    top: 40px;
}
#img3{
    position: absolute;
    right: 130px;
}
.e{
    left: 630px;
}
.f{
    left: 625px;
    font-size: 12px;
    font-weight: 200;
    top: 40px;
}
#o1{
    margin-top: 15px;
    position: absolute;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 250px;
    height: 45px;
    background-color: #0077b5;
    border-radius: 25px;
    box-sizing: border-box;
    padding-top: 15px;
    top:470px;
    left: 85px;
    padding-left: 35px;
    font-size: 14px;
}
#o2{
    margin-top: 15px;
    position: absolute;
    text-align: center;
    display: block;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 320px;
    height: 45px;
    background-color: white;
    border-radius: 25px;
    box-sizing: border-box;
    padding-top: 10px;
    top:470px;
    left: 345px;
}
#o1 img{
    position: absolute;
    bottom: 2px;
    right: 190px;
    box-sizing: border-box;
    padding-top: 10px;
}
#o3{
    position: absolute;
    width:150px;
    top: 270px;
    left: 820px;
}


